/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
    flex-grow: 1;
}

#box3{
    background-color: brown;
    height: 75px;
}

#box4{
    background-color: khaki;
}

#box5{
    background-color: blueviolet;
} */


div{
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media (width: 600px){
    div{
        background-color: red;
    }
}

@media (max-width: 600px) {
    div{
        background-color: green;
    }
}

@media (min-width:200px) and (max-width:300px) {
    div{
        background-color: blue;
    }
}