div{
    height: 200px;
    width: 200px;
    margin: 25px;
    padding: 25px;
display: inline-block;
}

#one{
    background-color: rgba(220, 225, 77, 1);
}

#two{
    background-color: rgba(22, 2, 7, 1);
}

#three{
    background-color: rgba(20, 225, 47, 1);
}