*{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    
}

#logo{
    color: #f08804;
}

button{
    background-color: #f08804;
}

a{
    margin-right: 200px;
}

.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin-left: 2px;
}

#content{
    height: 750px;
    display: flex;
}
footer{
    text-align: center;
    background-color: #0f1111;
}